/target
/e2e-deps/build

.vscode
__pycache__
*.pyc
.ruff_cache

venv/

/e2e-deps/subprojects/*
/e2e-deps/subprojects/**/*
!/e2e-deps/subprojects/llvm/
!/e2e-deps/subprojects/llvm/**/*
!/e2e-deps/subprojects/vulkan-runtime/
!/e2e-deps/subprojects/vulkan-runtime/**/*
!/e2e-deps/subprojects/packagefiles/
!/e2e-deps/subprojects/packagefiles/**/*
!/e2e-deps/subprojects/mesa.wrap
!/e2e-deps/subprojects/vulkan-runtime.wrap
