[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
ruff = "*"
mdformat-gfm = "*"

# Needed by building lavapipe on Windows for e2e tests
pyyaml = "*"
packaging = "*"
mako = "*"
meson = "*"

[dev-packages]

[requires]
python_version = "3.13"
